{% load i18n %}

<section class="ictcg-social-links">
  <h2 class="ictcg-block ictcg-heading-s">{% trans 'Share this case study:' %}</h2>
  <ul class="govuk-list ictcg-margin-bottom-0">
    <li>
      <a
        class="ictcg-social-links__link twitter"
        href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&amp;text={{ page.title|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="govuk-visually-hidden">{% trans 'Share case study on Twitter' %}</span>
        <span aria-hidden="true">Twitter</span>
        <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
      </a>
    </li>
    <li>
      <a
        class="ictcg-social-links__link facebook"
        href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="govuk-visually-hidden">{% trans 'Share case study on Facebook' %}</span>
        <span aria-hidden="true">Facebook</span>
        <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
      </a>
    </li>
    <li>
      <a
        class="ictcg-social-links__link linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri|urlencode }}&amp;title={{ page.title|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="govuk-visually-hidden">{% trans 'Share case study on LinkedIn' %}</span>
        <span aria-hidden="true">LinkedIn</span>
        <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
      </a>
    </li>
    <li>
      {% trans 'I wanted to share this post with you from the Digital Buying Guide' as email_subject %}
      <a
        class="ictcg-social-links__link email"
        href="mailto:?subject={{ email_subject|urlencode }}&amp;body={{ page.title|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="govuk-visually-hidden">{% trans 'Share case study on Email' %}</span>
        <span aria-hidden="true">{% trans 'Email' %}</span>
        <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
      </a>
    </li>
  </ul>
</section>
