/*
 * A public getter for the `$colours` map. Returns a hex colour as a string.
 * Use this instead of `map-get($colours)`.
 * @param {String} $name - The colour name from `$colours`
 * @example
 *   h1 {
 *     color: colour('red');
 *   }
 */
@function colour($name) {
  @return map-get($colours, $name);
}

@mixin background-opacity($color, $opacity: .3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin supports-link-spacing($spacing, $row-items: 3) {
  flex-grow: 0;
  flex-shrink: 1;
  // The .1px in the calc is to fix a rounding issue on Edge and IE which causeing the wrapping to break early
  flex-basis: calc((100% - ((#{$row-items} - 1) * #{$spacing})) / #{$row-items} - 0.1px); 
}
