{% load static wagtailuserbar wagtailcore_tags i18n base_tags %}
{% get_analytics_id as analytics_id %}

<!DOCTYPE html>
<html class="" lang="{{ page.language.code }}">

<head>
  <meta charset="utf-8" />

  <!-- Disable Google Analytics unless explicit consent set in cookie-->
  <script>
    window['ga-disable-{{ analytics_id }}'] = Object.fromEntries( document.cookie.split('; ').map( x => x.split('=')) ).analytics !== "true"
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ analytics_id }}');
  </script>

  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>

  {% if self.search_description %}
    <meta name="description" content="{{ self.search_description }}">
  {% endif %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/application.css' %}">

  {% block meta_tags %}{% endblock %}
</head>

<body class="govuk-template__body {% block body_class %}{% endblock %}">

  <a href="#main-title" class="govuk-skip-link">{% trans 'Skip to main content' %}</a>

  {% include "includes/header.html" %}

  {% block breadcrumbs %}{% endblock breadcrumbs %}

  <main id="main-content" role="main">
    {% block banner %}{% endblock %}

    <div class="govuk-width-container">
    
      <div class="ictcg-main-wrapper" >
        {% block content %}{% endblock %}
      </div>
  </div>
</main>
 
  {% include "includes/footer.html" %}

  {# Global javascript #}
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <script type="text/javascript" src="{% static 'javascripts/application.js' %}"></script>

</body>

</html>