{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<html class="" lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>

  {% if self.search_description %}
    <meta name="description" content="{{ self.search_description }}"">
  {% endif %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/application.css' %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="govuk-template__body {% block body_class %}{% endblock %}">

  {% include "includes/header.html" %}

  {% block breadcrumbs %}{% endblock breadcrumbs %}

  {% block banner %}{% endblock %}

  <div class="govuk-width-container">
    <main class="ictcg-main-wrapper" id="main-content" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
 
  {# Global javascript #}
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <script type="text/javascript" src="{% static 'javascripts/application.js' %}"></script>

  {% block extra_js %}
    {# Override this in templates to add extra javascript #}
  {% endblock %}
  <script></script>
</body>

</html>