{% load wagtailcore_tags base_tags i18n %}
{% get_analytics_cookie as cookie %}

<section class="ictcg-margin-bottom-6" id="{{self.title|slugify }}">
  <h2 class="ictcg-margin-bottom-4">{{self.title}}</h3>
  {{ self.content|richtext }}
  <div class="ictcg-margin-top-4 ictcg-cooke-table">
    {% include_block self.bound_blocks.table %}
  </div>
  <div class="ictcg-analytics-form ictcg-margin-top-6">
    <form action="{% pageurl page %}" method="POST">
      {% csrf_token %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="analytics-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            {% trans 'Do you want to accept analytics cookies?' %}
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="analytics-yes" name="analytics" type="radio" value="true" {% if cookie %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="analytics-yes">{% trans 'Yes' %}</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="analytics-no" name="analytics" type="radio" value="false" {% if not cookie %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="analytics-no">{% trans 'No' %}</label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button ictcg-button ictcg-button--blue ictcg-margin-bottom-0" >{% trans 'Save cookie setting' %}s</button>
    </form>
  </div>
</section>
