{% load wagtailcore_tags %}

<section class="govuk-grid-column-full" id="{{self.title|slugify }}">
  <div class="ictcg-full-viewport-width ictcg-padding-top-6  ictcg-padding-bottom-6 ictcg-margin-bottom-6">
    <div class="govuk-width-container">
      <h2 class="ictcg-margin-bottom-0">{{self.title}}</h3>
      <hr aria-hidden="true">
      <ul class="govuk-list ictcg-margin-bottom-0 ictcg-list--tick ictcg-desktop-column-count-2">
        {% for item in self.items_list %}
          <li>
            <svg class="ictcg-icon ictcg-icon__tick--navy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            {{item}}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>