{% load wagtailcore_tags wagtailimages_tags i18n sponsors_tags %}

<section 
  class="ictcg-text-align-{{self.text_alignment}} ictcg-margin-bottom-6 ictcg-sponsors {% if self.width == 'half'%}govuk-grid-column-one-half{% else %}govuk-grid-column-full{% endif %}" 
  id="{{self.title|slugify }}"
>

  {% if self.title %}
    <h2 class="ictcg-margin-bottom-0">{{self.title}}</h3>
  {% endif %}
  
  <div class="ictcg-sponsors__items ictcg-flex-justify-{{self.text_alignment}}">
    {% get_homepage_sponsors request.LANGUAGE_CODE as sponsors %}
    {% for item in sponsors %}
      <a href="{{ item.url }}" target="_blank" rel="noopener">
        {% image item.logo width-132 alt=item.logo_description %}
        <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
      </a>
    {% endfor %}
  </div>

  {% if self.content %}
    {{ self.content|richtext }}
  {% endif %}
</section>