{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags navigation_tags i18n %}

{% block breadcrumbs %}
  {% breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="govuk-grid-row ictcg-margin-top-8">
    <div class="govuk-grid-column-full">
      <h1 class="ictcg-margin-bottom-4" id="main-title" tabindex="-1">{{ page.title }}</h1>
      <div class="ictcg-case-study-filter">
        <p class="ictcg-font-16 ictcg-margin-bottom-2">{{case_studies|length|add:1}} {% trans 'Results' %}</p> <!-- ADD 1 to include featured case study -->
      </div>
      <div class="ictcg-cards">
        {% if featured_case_studies %}
          {% include 'includes/card.html' with item=featured_case_studies featured=True %}
        {% endif %}

        {% for case_study in case_studies %}
          {% include 'includes/card.html' with item=case_study featured=False %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
