.ictcg-more-info-module {
  @include govuk-responsive-padding(4);

  .rich-text {
    p {
      @include govuk-font($size: 16, $weight: normal);
    }
  }

  a {
    &:link {
      color: #1a6ab0;
    }

    &:visited {
      color: colour('link-visited');
    }

    &:hover {
      color: colour('link-hover');
    }

    &:focus {
      color: colour('text');
    }
  }
}
