.ictcg-social-links__link {
  @include govuk-font($size: 16, $weight: normal);

  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: left center;

  &.twitter {
    background-image: url('/static/images/twitter-logo.svg');
  }

  &.facebook {
    background-image: url('/static/images/facebook-logo.svg');
  }

  &.linkedin {
    background-image: url('/static/images/linkedin-logo.svg');
  }

  &.email {
    background-image: url('/static/images/email-logo.svg');
  }
}
