// @import 'settings/breakpoints';
@import 'utilities/mixins';

// // settings
@import 'settings/colours';
@import 'settings/variables';

// // vendor
@import 'vendor/reset';
@import 'vendor/gds';

// // layouts
@import 'layouts/base';
@import 'layouts/richtext';
@import 'layouts/lists';

// // base
@import 'base/fonts';
@import 'base/typography';
@import 'base/icons';
@import 'base/spacing';
@import 'base/colours';

// // components
@import 'components/all';
