{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags i18n cache %}

{% block breadcrumbs %}
  {% breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}

  <div class="govuk-grid-row ictcg-margin-top-8">

    <div class="govuk-grid-column-two-thirds">
      <section class="ictcg-margin-bottom-3">
        <h1 id="main-title" tabindex="-1">{{ page.title }}</h1>
        {{ page.introduction|richtext }}
      </section>

      {% cache 86400 guidelines_listing_descendant request.LANGUAGE_CODE %}
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" data-open-text="{% trans 'Open all' %} " data-close-text="{% trans 'Close all' %} ">
          {% for descendant in descendants %}
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-{{forloop.counter}}">
                    {{ descendant.title }}
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-{{forloop.counter}}">
                  {{ descendant.specific.landing_page_summary }}
                </div>
              </div>
              <div id="accordion-default-content-{{forloop.counter}}" class="govuk-accordion__section-content govuk-!-padding-top-0" aria-labelledby="accordion-default-heading-{{forloop.counter}}">
                <ul class="govuk-list">
                  <li>
                    <a href="{{ descendant.url}}" class="" aria-label="{{ descendant.title }} - {{ descendant.specific.subtitle }}">{{ descendant.specific.subtitle }}</a>
                  </li>
                  {% for page in descendant.get_children.live %}
                    <li>
                      <a href="{{ page.url}}" class="">
                        {{ page.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul> 
              </div>
            </div>
          {% endfor %}
        </div>
      {% endcache %}
    </div>
    
    <div class="govuk-grid-column-one-third">
      {% block sidebar %}{% endblock %}
    </div>
  </div>
{% endblock content %}
