{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags i18n cache %}

{% block breadcrumbs %}
  {% breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}

  <div class="govuk-grid-row ictcg-margin-top-8">

    {% for block in page.information_banners %}
      {% include_block block %}
    {% endfor %}

    <div class="govuk-grid-column-two-thirds">
      <section class="ictcg-margin-bottom-3">

        <h1 id="main-title" tabindex="-1">{{ page.title }}</h1>

        {{ page.introduction|richtext }}
      </section>

      {% cache 604800 sections_and_pages_for_listing page.id %}
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-{{ page.slug }}" data-open-text="{% trans 'Open all' %} " data-close-text="{% trans 'Close all' %} ">
          {% for section in page.get_children.live %}
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-{{forloop.counter}}">
                    {{ section.title }}
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-{{forloop.counter}}">
                  {{ section.specific.landing_page_summary }}
                </div>
              </div>
              <div id="accordion-default-content-{{forloop.counter}}" class="govuk-accordion__section-content govuk-!-padding-top-0" aria-labelledby="accordion-default-heading-{{forloop.counter}}">
                <ul class="govuk-list">
                  <li>
                    <a href="{{ section.url}}" class="" aria-label="{{ section.title }} - {{ section.specific.subtitle }}">{{ section.specific.subtitle }}</a>
                  </li>
                  {% for page in section.get_children.live %}
                    <li>
                      <a href="{{ page.url}}" class="">
                        {{ page.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul> 
              </div>
            </div>
          {% endfor %}
        </div>
      {% endcache %}
    </div>
    
    <div class="govuk-grid-column-one-third">
      {% block sidebar %}{% endblock %}
    </div>
  </div>
{% endblock content %}
