{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags navigation_tags cache %}

{% block breadcrumbs %}
  {% breadcrumbs %}
{% endblock breadcrumbs %}

{% block banner %}
  {% include 'includes/guidelines-banner.html' with use_h1=True title=page.get_parent.title section_title=page.title colour=page.section_colour %}
{% endblock banner %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full ictcg-margin-top-4">
      <h2 class="ictcg-heading-l">{{ page.subtitle }}</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      {% for sections in page.sections %}
        <a href="#{{sections.value.title|slugify }}" class="">
          {{ sections.value.title }}
        </a>
      {% endfor %}
    
      {% for block in page.body %}
        {% include_block block with use_h3=True %}
      {% endfor %}
    
      <section>
        <h3 class="ictcg-heading-m ictcg-margin-bottom-0">{{ page.sub_sections_title }}</h3>
        <hr aria-hidden="true">
        <ul class="govuk-list ictcg-margin-top-2">
          {% cache 86400 guidelines_sections_children page.id %}
            {% for child in page.get_children.live %}
              <li>
                <a href="{{ child.url}}" class="">{{ child.title }}</a>
              </li>
            {% endfor %}
          {% endcache %}
        </ul> 
      </section>
    </div>
    
    <div class="govuk-grid-column-one-third">
      {% block sidebar %}{% endblock %}
    </div>
  </div>
{% endblock content %}
