{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags navigation_tags cache i18n %}

{% block breadcrumbs %}
  {% breadcrumbs %}
{% endblock breadcrumbs %}

{% block banner %}
  {% include 'includes/guidelines-banner.html' with use_h1=True title=page.get_parent.title section_title=page.title colour=page.section_colour %}
{% endblock banner %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ictcg-margin-top-4">

      <section>
        {{ page.introduction|richtext }}

        <nav role="navigation" class="ictcg-margin-top-4" aria-label="{% trans 'Pages in this section' %}">
          <h2 class="ictcg-font-16 ictcg-font-normal ictcg-margin-bottom-1">{% trans 'Contents' %}</h2>
          <ul class="govuk-list">

            <li class="govuk-body-s ictcg-list-item">{{ page.subtitle }}</li>
              {% cache 604800 pages_for_section page.id %}
                {% for child in page.get_children.live %}
                  <li class="govuk-body-s ictcg-list-item">
                    <a href="{{ child.url}}" class="">{{ child.title }}</a>
                  </li>
                {% endfor %}
              {% endcache %}
          </ul> 
        </nav>
      </section>

      <hr class="ictcg-margin-top-2" aria-hidden="true">

      <section class="ictcg-margin-bottom-6">
        <h2>{{ page.subtitle }}</h2>
        {{ page.body|richtext }}
      </section>

      {% include 'includes/pagination.html' with next_page=page.get_children.live.first %}
    </div>
    
    <div class="govuk-grid-column-one-third">
      {% block sidebar %}{% endblock %}
    </div>
  </div>
{% endblock content %}
