{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags wagtailtrans_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}

{% get_translations page homepage_fallback=False include_self=True as translations %}

<ul>
  {% for language, page in translations.items %}
    <li>
      <a href="{{ page.url }}">
          <span>{{ language.code }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<div class="article__body">
  {{ page.body|richtext }}
</div>

<div class="govuk-grid-row">
  {% for block in page.content %}
    <div class="govuk-grid-column-one-half">
      {% include_block block %}
    </div>
  {% endfor %}
</div>

{% include "includes/sponsors.html" %}
  
{% endblock content %}

