{% load wagtailcore_tags wagtailimages_tags i18n %}

<div class="ictcg-cards__item {% if featured %}ictcg-cards__item--featured{% endif %}">
  <div class="ictcg-card">
    {% if featured %}
      <picture>
        {% image item.header_image fill-1912x714 as desktop %}
        <source media="(min-width: 641px)" srcset="{{ desktop.url }}"  />
        {% image item.header_image fill-594x454 class="ictcg-card__image" alt=item.header_image_description %}
      </picture>
    {% else %}
      {% image item.header_image fill-594x454 class="ictcg-card__image" alt=item.header_image_description %}
    {% endif %}
    <div class="ictcg-card__content">
      <div class="ictcg-card__meta ictcg-margin-bottom-4">
        <time class="ictcg-card__meta-item" datetime="{{ item.publication_date|date:'Y-m-d' }}">{{ item.publication_date|date:"d M Y" }}</time>
        <span class="ictcg-card__meta-item">{{ item.read_time }} {% trans 'minute read' %}</span>
      </div>
      <a class="ictcg-card__link" href="{% pageurl item %}" alt="{{ item.title }}">
        {% if case_study_block %}
          <h3 class="ictcg-card__heading ictcg-margin-bottom-0">{{ item.title }}</h3>
        {% else %}
          <h2 class="ictcg-card__heading ictcg-margin-bottom-0">{{ item.title }}</h2>
        {% endif %}
      </a>
      {% if featured %}
        <p class="ictcg-font-19 ictcg-card__intro ictcg-padding-top-4 ictcg-margin-bottom-0">{{ item.introduction }}</p>
      {% endif %}
      <p class="ictcg-card__collaborator ictcg-padding-top-4 ictcg-margin-bottom-0">{{ item.collaborator }}</p>
    </div>
  </div>
</div>