{% load wagtailcore_tags wagtailtrans_tags wagtailimages_tags i18n navigation_tags sponsors_tags cache %}
{% get_footer_content as footer  %}

<footer class="govuk-footer ictcg-margin-top-9 ictcg-padding-top-6 ictcg-padding-bottom-0" role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section ictcg-footer__section">
        <h2 class="govuk-footer__heading ictcg-footer__heading govuk-heading-m">{{ footer.footer_content.quick_links_title }}</h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-2">
          {% cache 604800 guidelines_footer request.LANGUAGE_CODE %}
            {% for item in footer.guildelines %}
              <li class="">
                <a class="govuk-footer__link ictcg-footer__link" title="{{ item.title }}" href="{% pageurl item %}">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          {% endcache %}
        </ul>
      </div>
      {% if page %}
        <div class="govuk-footer__section ictcg-footer__section">
          <h2 class="govuk-footer__heading ictcg-footer__heading govuk-heading-m">{{ footer.footer_content.translation_title }}</h2>
          <ul class="govuk-footer__list ">
            {% get_translations page homepage_fallback=False include_self=True as translations %}
            {% for language, page in translations.items %}
              {% get_language_info for language.code as lang %}
              {% if language.code != request.LANGUAGE_CODE %}
                <li class="">
                  <a class="govuk-footer__link ictcg-footer__link ictcg-capitalize" href="{{ page.url }}" lang="{{ language.code }}">
                    {{ lang.name_local }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <hr aria-hidden="true" class="govuk-footer__section-break ictcg-margin-bottom-6 ictcg-block ictcg-hidden-mobile">
        <div class="ictcg-footer__sponsors">
          <h2 class="govuk-heading-m">{{ footer.footer_content.sponsors_title }}</h2>
          <div class="ictcg-footer__sponsors-items">
            {% cache 604800 sponsors_footer request.LANGUAGE_CODE %}
              {% get_footer_sponsors request.LANGUAGE_CODE as sponsors %}
              {% for item in sponsors %}
                <a href="{{ item.url }}" target="_blank" rel="noopener">
                  {% image item.logo width-264 alt=item.logo_description %}
                  <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
                </a>
              {% endfor %}
            {% endcache %}
          </div>
        </div>
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow ictcg-margin-bottom-6">
        <h2 class="govuk-visually-hidden">{% trans 'Support links' %}</h2>
        <ul class="govuk-footer__inline-list">
          {% cache 604800 footer_support_links request.LANGUAGE_CODE %}
            {% for item in footer.footer_content.footer_menu_items.all %}
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" title="{{ item.title }}" href="{{item.link}}" {% if item.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>
                  {{ item.title }}
                  {% if item.open_in_new_tab %}
                    <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          {% endcache %}
        </ul>
        <div class="govuk-footer__meta-custom">
          {% trans 'Built by the' %} <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-footer__link">{% trans 'Government Digital Service' %}</a>
        </div>

        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          {% trans 'All content is available under the' %}
          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">{% trans 'Open Government Licence v3.0' %}</a>, {% trans 'except where otherwise stated' %}
        </span>
      </div>
    </div>
  </div>
</footer>