<div class="ictcg-guidelines-banner" style="background-color:{{ colour }}">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if use_h1 %}
          <h1 class="ictcg-heading-xl ictcg-guidelines-banner__title">
            <span class="ictcg-caption-xl">{{title}}</span>
            {{ section_title }}
          </h1>
          {% else %}
          <p class="ictcg-heading-xl ictcg-guidelines-banner__title">
            <span class="ictcg-caption-xl">{{title}}</span>
            {{ section_title }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>