{% load static wagtailimages_tags navigation_tags i18n cache %}
{% main_menu request.LANGUAGE_CODE as mainmenu %}

{% if mainmenu.cookie_page.url %}
  {% include "includes/cookie-banner.html" %}
{% endif %}

<header class="ictcg-header " role="banner" data-module="ictcg-header-mainmenu">
  <div class="ictcg-header__container govuk-width-container">
    <div class="ictcg-header__logo">
      <a href="/{{request.LANGUAGE_CODE}}" class="ictcg-header__link ictcg-header__link--homepage" title="{% trans 'Go to the Digital Buying Guide homepage' %}">
        {% trans 'Digital Buying Guide' %}
      </a>
    </div>
    <div class="ictcg-header__content">
      <button type="button" class="ictcg-header__menu-button ictcg-js-header-toggle" aria-controls="MainNavigation" aria-label="{{mainmenu.button_aria_label}}">{{mainmenu.button_text}}</button>
      <nav aria-label="Main">
        <ul id="MainNavigation" class="ictcg-header__navigation " aria-label="{{mainmenu.navigation_aria_label}}">
          {% cache 86400 header_navigation_links request.LANGUAGE_CODE %}
            {% for item in mainmenu.menu_items.all %}
              <li class="ictcg-header__navigation-item">
                <a class="ictcg-header__link" title="{{ item.title }}" href="{{item.link}}" {% if item.open_in_new_tab %}target="_blank" rel="noopener"{% endif %}>
                  {{ item.title }}
                  {% if item.open_in_new_tab %}
                    <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
            {% endcache %}
        </ul>
      </nav>
    </div>
  </div>

  {% include "includes/phase-banner.html" with banner_description=mainmenu.phase_banner_description %}

</header>
