{% load static wagtailimages_tags navigation_tags i18n %}
{% main_menu request.LANGUAGE_CODE as mainmenu %}

<a href="#main-title" class="govuk-skip-link">{% trans 'Skip to main content' %}</a>

<header class="ictcg-header " role="banner" data-module="ictcg-header-mainmenu">
  <div class="ictcg-header__container govuk-width-container">
    <div class="ictcg-header__logo">
      <a href="/{{request.LANGUAGE_CODE}}" class="ictcg-header__link ictcg-header__link--homepage">
        <span class="ictcg-header__logotype">
          {% if mainmenu.logo %}
            {% image mainmenu.logo width-42 class="ictcg-header__logotype-image" alt=mainmenu.logo_description %}
          {% endif %}
          <span class="ictcg-header__logotype-text">
            {% trans 'Digital Buying Guide' %}
          </span>
        </span>
      </a>
    </div>
    <div class="ictcg-header__content">
      <button type="button" class="ictcg-header__menu-button ictcg-js-header-toggle" aria-controls="MainNavigation" aria-label="{{mainmenu.button_aria_label}}">{{mainmenu.button_text}}</button>
      <nav aria-label="Main">
        <ul id="MainNavigation" class="ictcg-header__navigation " aria-label="{{mainmenu.navigation_aria_label}}">
          {% for item in mainmenu.menu_items.all %}
            {% is_main_menu_link_active item.link as active_link %}
            <li class="ictcg-header__navigation-item {% if active_link %}ictcg-header__navigation-item--active{% endif %}">
              <a class="ictcg-header__link" title="{{ item.title }}" href="{{item.link}}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
                {{ item.title }}
                {% if item.open_in_new_tab %}
                  <span class="govuk-visually-hidden">{% trans '(opens in a new tab)' %}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>

{% include "includes/phase-banner.html" with banner_description=mainmenu.phase_banner_description %}
