{% load wagtailcore_tags wagtailimages_tags %}

<div class="ictcg-masthead">
  <div class="govuk-width-container">
      <div class="govuk-grid-row ictcg-flex">
        <div class="{% if page.masthead_image %}govuk-grid-column-two-thirds{% else %}govuk-grid-column-full{% endif %}">
          <h1 class="ictcg-masthead__title" id="main-title" tabindex="-1"> {{ page.masthead_title }}</h1>
          <div class="ictcg-masthead__description">
            {{ page.masthead_description|richtext }}
          </div>
          {% if page.masthead_link_title and page.masthead_link %}
            <a href="{{ page.masthead_link.url }}" role="button" class="govuk-button ictcg-button ictcg-button--white ictcg-margin-top-6 ictcg-margin-bottom-0" data-module="govuk-button">
              {{ page.masthead_link_title }}
            </a>
          {% endif %}
        </div>
        {% if page.masthead_image %}
          <div class="govuk-grid-column-one-third ictcg-hidden-mobile ictcg-flex-self-center">
            {% image page.masthead_image width-600 class="ictcg-masthead__image" alt=page.masthead_image_description role="presentation" %}
          </div>
        {% endif %}
    </div>
  </div>
</div>
