.ictcg-icon {
  height: 30px;
  width: 30px;

  @include govuk-media-query('tablet') {
    height: 34px;
    width: 34px;
  }
}

.ictcg-icon__cross {
  fill: colour('red');
}

.ictcg-icon__tick {
  stroke: colour('green');
}

.ictcg-icon__tick--navy {
  stroke: colour('navy');
}
