body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: colour('text');
}

@include govuk-media-query ($from: tablet) {
  body {
    font-size: 19px;
  }
}

%ictcg-headings {
  display: inline-block;
  margin-top: 0;
}

h1,
.ictcg-heading-xl {
  @include govuk-font($size: 48, $weight: bold);
  @include govuk-responsive-margin(8, 'bottom');

  @extend %ictcg-headings;
}

.ictcg-heading-l {
  @include govuk-font($size: 36, $weight: bold);
  @include govuk-responsive-margin(6, 'bottom');

  @extend %ictcg-headings;
}

h2,
.ictcg-heading-m {
  @include govuk-font($size: 24, $weight: bold);
  @include govuk-responsive-margin(4, 'bottom');

  @extend %ictcg-headings;
}

h3,
.ictcg-heading-s {
  @include govuk-font($size: 19, $weight: bold);
  @include govuk-responsive-margin(4, 'bottom');

  @extend %ictcg-headings;
}

.ictcg-caption-xl {
  @include govuk-font($size: 27);

  display: block;
  margin-bottom: govuk-spacing(1);
}

p {
  @extend %govuk-body-m;
}

strong,
b {
  @include govuk-typography-weight-bold;
}

a {
  @extend %govuk-link;

  color: colour('link');

  &:visited {
    color: colour('link-visited');
  }

  &:hover {
    color: colour('link-hover');
  }

  &:focus {
    color: colour('text');
  }
}

hr {
  @include govuk-responsive-margin(4, 'top');
  @include govuk-responsive-margin(4, 'bottom');

  display: inline-block;
  border-top: 1px solid colour('border');
}

.ictcg-font-14 {
  @include govuk-font($size: 14, $weight: normal);
}

.ictcg-font-16 {
  @include govuk-font($size: 16, $weight: normal);
}

.ictcg-font-19 {
  @include govuk-font($size: 19, $weight: normal);
}

.ictcg-font-19--bold {
  @include govuk-font($size: 19, $weight: bold);
}

.ictcg-capitalize {
  text-transform: capitalize;
}

.ictcg-font-normal {
  font-weight: normal;
}

.ictcg-text-align-left {
  text-align: left;
}

.ictcg-text-align-centre {
  text-align: center;
}

.ictcg-text-align-right {
  text-align: right;
}
