.ictcg-breadcrumbs-container {
  background-color: colour('masthead');
}

$chevron-size: 7px;
$chevron-border-width: 1px;
$chevron-altitude-calculated: 5px;

%ictcg-chevron {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;

  // Offset by the difference between the width of the non-rotated square and its width when rotated
  left: (($chevron-altitude-calculated * -2) + $chevron-size + $chevron-border-width);
  width: $chevron-size;
  height: $chevron-size;
  margin: auto 0;
  transform: rotate(225deg);
  border: solid;
  border-width: $chevron-border-width $chevron-border-width 0 0;
  border-color: colour('border');
}

.ictcg-breadcrumbs {
  @include govuk-font($size: 16);

  color: colour('text');
  display: inline-block;
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query ('tablet') {
    display: block;
  }
}

.ictcg-breadcrumbs__list {
  @include govuk-clearfix;

  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

  @include govuk-media-query ('tablet') {
    display: block;
  }
}

.ictcg-breadcrumbs__list-item {
  position: relative;
  margin-left: govuk-spacing(2);
  padding-left: govuk-spacing(2) + $chevron-altitude-calculated;
  float: left;
  color: colour('white');

  &::before {
    @extend %ictcg-chevron;

    transform: rotate(45deg);
  }

  &:first-child {
    margin-left: 0;
    padding-left: 0;

    &::before {
      content: none;
      display: none;
    }
  }
}

.ictcg-breadcrumbs__back {
  position: relative;
  padding-left: govuk-spacing(2) + $chevron-altitude-calculated;
  float: left;
  margin-bottom: 0;

  @include govuk-font(16);

  &::before {
    @extend %ictcg-chevron;

    transform: rotate(225deg);
  }

  @include govuk-media-query ('tablet') {
    display: none;
  }
}

.ictcg-breadcrumbs__link {
  @include govuk-link-common;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: colour('white');
  }

  &:focus {
    color: colour('text');
  }
}
