/* stylelint-disable  no-descending-specificity */

.ictcg-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -$govuk-gutter-half;
  margin-right: -$govuk-gutter-half;
  padding: 0;
}

.ictcg-cards__item {
  @include govuk-responsive-margin(6, 'top');

  display: flex;
  padding: 0 $govuk-gutter-half;
  width: 100%;
  position: relative;

  @include govuk-media-query('tablet') {
    width: 50%;
  }

  @include govuk-media-query('desktop') {
    width: 33.3333%;
  }
}

.ictcg-card {
  background-color: colour('white');
  width: 100%;
  overflow: hidden;
  border: 1px solid colour('border');
  display: flex;
  flex-direction: column;
}

.ictcg-card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: govuk-spacing(1) govuk-spacing(4) govuk-spacing(3) govuk-spacing(4);
}

.ictcg-card__meta {
  display: flex;
  justify-content: space-between;
  color: colour('caption');
}

.ictcg-card__meta-item,
.ictcg-card__collaborator {
  @include govuk-font($size: 16);

  @include govuk-media-query('tablet') {
    @include govuk-font($size: 14);
  }
}

.ictcg-card__link::before {
  content: '';
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.ictcg-card__collaborator {
  margin-top: auto;
}

.ictcg-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.ictcg-card__heading {
  @include govuk-font($size: 19);

  flex: 1 1 auto;
  font-weight: normal;
}

.ictcg-card__link:hover {
  .ictcg-card__heading {
    text-decoration: underline;
  }
}

.ictcg-card__intro {
  color: colour('caption');
}

.ictcg-cards__item--featured {
  width: 100%;

  .ictcg-card__collaborator,
  .ictcg-card__meta span {
    @include govuk-font($size: 16);
  }

  .ictcg-card__heading {
    @include govuk-font($size: 19, $weight: bold);

    @include govuk-media-query('tablet') {
      @include govuk-font($size: 36, $weight: bold);
    }
  }
}
