.ictcg-footer__sponsors-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    @include govuk-responsive-margin(5, 'right');
    @include govuk-responsive-margin(6, 'bottom');
  }
}

.ictcg-footer__heading {
  @include govuk-responsive-margin(4, 'bottom');
}

.ictcg-footer__section {
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query('tablet') {
    margin-bottom: 0;
  }
}

.ictcg-footer__link {
  @include govuk-responsive-margin(4, 'bottom');

  display: inline-block;
}
