.ictcg-footer__sponsors-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    @include govuk-responsive-margin(5, 'right');
    @include govuk-responsive-margin(6, 'bottom');;
  }
}
