$masthead-text-colour: colour('white');

.ictcg-masthead {
  @include govuk-responsive-padding(6, 'top');
  @include govuk-responsive-padding(7, 'bottom');

  background-color: colour('primary-3');
}

.ictcg-masthead__title {
  @include govuk-responsive-margin(6, 'bottom');

  color: $masthead-text-colour;
}

.ictcg-masthead__description {
  p {
    @include govuk-typography-responsive(19);

    color: $masthead-text-colour;
  }

  a {
    color: $masthead-text-colour;
  }
}

.ictcg-masthead__image {
  max-width: 100%;
  height: auto;
}
