.ictcg-quote {
  @include govuk-responsive-margin(4, 'top');
  @include govuk-responsive-margin(4, 'bottom');
  @include govuk-responsive-padding(5, 'left');

  color: colour('text');
  border-left: 5px solid colour('border');

  p {
    margin-bottom: 0;
  }

  cite {
    @include govuk-font($size: 19);

    font-style: normal;
  }
}
