.ictcg-tag {
  @include govuk-font($size: 16, $weight: normal);
  @include govuk-responsive-margin(2, 'right');
  @include govuk-responsive-margin(2, 'bottom');

  display: inline-block;
  color: colour('link');
  background-color: colour('footer');
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 3px;
}

.ictcg-tag-title {
  display: block;
  width: 100%;
}
