$colours: (
  'black': #333,
  'white': #fff,
  'text': #0b0c0c,
  'link': #1d70b8,
  'link-hover': #003078,
  'link-visited': #4c2c92,
  'focus': #fd0,
  'primary-1': #28a197,
  'primary-2': #007fc2,
  'primary-3': #00703c,
  'primary-4': #7f97ab,
  'highlight': #eef4f6,
  'caption': #626a6e,
  'footer': #f3f2f1,
  'border': #b1b4b6,
  'ticks': #00703c,
  'crosses': #d4351c,
  'masthead': #002f49,
);
