{% load wagtailcore_tags i18n cache %} 

{% if ancestors|length > 1 %}
  <div class="ictcg-breadcrumbs-container">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <nav class="ictcg-breadcrumbs" aria-label="Breadcrumb">
            <ol class="ictcg-breadcrumbs__list">
              {% for item in ancestors %}
              <li class="ictcg-breadcrumbs__list-item">
                {% if forloop.counter != ancestors|length %}
                <a class="ictcg-breadcrumbs__link" href="{% pageurl item %}">{{ item.title }}</a>
                {% else %}
                  {{item.title}}
                {% endif %}
              </li>
              {% endfor %}
            </ol>
            {% if parent %}
              <p class="ictcg-breadcrumbs__back">
                <a class="ictcg-breadcrumbs__link" href="{% pageurl parent %}">
                  {% trans 'Back to ' %} {{parent.title}}
                </a>
              </p>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endif %}
