* {
  box-sizing: border-box;
}

.ictcg-column-module-spacing {
  > * {
    @include govuk-responsive-margin(8, 'bottom');
  }
}

.ictcg-float-left {
  float: left;
}

.ictcg-float-right {
  float: right;
}

.ictcg-block {
  display: block;
}

.ictcg-float-right-desktop {
  @include govuk-media-query('tablet') {
    float: right;
  }
}

.ictcg-flex {
  display: flex;
}

.ictcg-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ictcg-flex-self-center {
  align-self: center;
}

.ictcg-flex-justify-left {
  justify-content: flex-start;
}

.ictcg-flex-justify-centre {
  justify-content: center;
}

.ictcg-flex-justify-right {
  justify-content: flex-end;
}

.ictcg-hidden-mobile {
  display: none;

  @include govuk-media-query('tablet') {
    display: block;
  }
}

.ictcg-sticky-desktop {
  @include govuk-media-query('tablet') {
    position: sticky;
    top: govuk-spacing(4);
  }
}

.ictcg-full-viewport-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: colour('highlight');
}

.ictcg-desktop-column-count-2 {
  @include govuk-media-query('tablet') {
    column-count: 2;
  }
}
