* {
  box-sizing: border-box;
}

.ictcg-column-module-spacing {
  > * {
    @include govuk-responsive-margin(8, 'bottom');
  }
}

.ictcg-float-left {
  float: left;
}

.ictcg-float-right {
  float: right;
}

.ictcg-flex {
  display: flex;
}

.ictcg-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ictcg-flex-self-center {
  align-self: center;
}

.ictcg-hidden-mobile {
  display: none;

  @include govuk-media-query('tablet') {
    display: block;
  }
}

.ictcg-sticky-desktop {
  @include govuk-media-query('tablet') {
    position: sticky;
    top: govuk-spacing(4);
  }
}
