
.rich-text {
  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;

    &.full-width {
      width: 100%;
    }

    &.right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0 !important; /* stylelint-disable-line */
  }

  p:empty {
    margin-bottom: 0;

    &::after {
      content: '\200b';
    }

    &:first-child::after,
    &:last-child::after {
      content: '';
    }
  }

  figcaption {
    margin-top: govuk-spacing(1);
    @include govuk-responsive-margin(4, 'bottom');
  }
}
